body {
  background: black;
  font-family: $body-font;
}

main {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.wrapper {
  margin-top: 0.25%;
  min-height: 99vh;
  /* max-height: 120vh; */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), url(../assets/images/rorshach.jpg);
  background-position: 0px;
  background-size: cover;
  padding: 200px 50px;
  align-self: center;
  border-radius: 10px;
  border: 5px solid $primary-color;
  transition: 8s linear all;
  &:hover {
    background-position: -1000px;
  }
}



.image {
  border-radius: 10px;
}

#fetch {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  margin-top: -120px;
  margin-bottom: 10px;
  font-family: $heading-font;
  font-size: 5rem;
  color: $primary-color;
  text-shadow: 6px 6px 2px black;
  font-weight: normal;
}

.testing {
  display: none;
  font-size: 2rem;
  padding: 20px 10px 0;
}

button {
  padding: 1% 2%;
  font-size: 1.2rem;
  margin-right: 5%;
  background: black;
  color: $rick-primary;
  outline: $logo-primary;
  border-radius: 10px;
  box-shadow: 3px 3px 2px black;
  font-family: $body-font;
  transition: 0.3s all;
  text-transform: uppercase;
  &:hover {
    flex-grow: 0.5;
    box-shadow: 2px 2px 2px black;
    color: white;
    font-size: 1.8rem;
    background: lighten($logo-primary, 10);
    color: white;
  }
  &:last-child:hover {
    background: #FF509F;
  }
  &:active {
    box-shadow: none;
  }
}



.triggers {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  input[type=text],input[type=submit] {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 1.1rem;
    font-family: $body-font;
    z-index: 20;
  }
  input[type=submit] {
    background: darken($dark, 20);
    color: white;
    margin-left: 2px;
    transition: 0.3s all;
    &:hover {
      background: $dark;
    }
  }
  #btn2 {
    padding: 3% 6%;
    width: 50%;
    &:hover {
      background: red;
      color: white;
    }
  }
}

.form {
  display: inline-block;
}

.moreInfo {
  #fmi {
    font-size: 1.2rem;
    color: white;
    letter-spacing: 2px;
    border-bottom: red;
    h2 {
      margin: 10px 0;
    }
  }
  a {
    text-decoration: none;
    color: $primary-color;
    text-shadow: 2px 2px 2px black;
    font-size: 3.2rem;
    h2 {
      margin: 10px 0;
    }
  }
}

.list {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  opacity: 0;
  ul {
    width: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.501);
    text-shadow: 1px 1px 0 black;
    padding: 25px;
    list-style: none;
    font-size: 2rem;
    letter-spacing: 1px;
    border-radius: 10px;
  }
}
